 <div class="row">
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    
    <table class="table">
        <thead>
          <tr>
             <th>name</th>
             <th>Quantity</th>  
             <th>Price</th>
             <th>Total</th>
         </tr>
         </thead>
         <tbody *ngFor="let ingredient of ingredients; let i = index" (click)="onEditItem(i)">
          <tr>
             <td>{{ ingredient.name }}</td>
             <td>{{ ingredient.quantity }}</td>
             <td>{{ ingredient.price }}</td> 
             <td>{{ ingredient.quantity*ingredient.price }}</td>
          </tr>
        </tbody>
        <tr>
          <td></td>
          <td></td>
          <td>Total Amount:--</td>
          <td>
            <input class=""  type="text" value='{{ getTotal() }}' readonly /> 
          </td>
        </tr>
        </table>
       <a class="btn btn-primary pull-right" routerLink= "/payment" >Pay</a>
   </div>
</div>
