<!-- <div class="row">
  <div class="col-xs-10">
    <hr>
    <h1> <span>subscriptions plan </span></h1>
    <table class="table">
      <thead>
        <tr>
           <th>CUSTOMER</th>
          <th>STATUS</th>
          <th>BILLING</th> 
          <th>PLAN</th>
          <th>CREATED</th>
        </tr>
      </thead>
      <tbody *ngFor="let payment of payments ">
       
        <tr>
             
           <td> {{ payment.customer }} </td>
            <td> {{ payment.status }} </td>
            <td> {{ payment.billing }} </td> 
            <td> {{ payment.interval }} </td>
            <td> {{ payment.created }} </td> 
             </tr>
      </tbody>
    </table>
  </div>
</div> -->
<!-- <button class="btn btn-primary" (click)="day()">day</button>  
      <button class="btn btn-primary" (click)="month()">month</button>  
      <button class="btn btn-primary" (click)="year()">year</button>   -->

<div class="container">
  <h2>Subscriptions plan</h2>
  <p>Click on the subscriptions plan to open and close it.</p>
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">day plan</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <table class="table">
          <thead>
            <tr>
              <th>Customer</th>
              <th>Status</th>
              <th>Billing</th>
              <th>Interval</th>
              <th>Created</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody *ngFor="let payment of payments;  let index = index">
            <tr *ngIf="payment.plan.interval == 'day'">
              <td >{{ payment.customer }}</td>
              <td> {{ payment.status }} </td>
              <td> {{ payment.billing }} </td>
              <td> {{ payment.plan.interval }} </td>
              <td> {{ payment.created }} </td>
              <td> <button (click)="subscriptionsupdate(index)"  class="btn btn-success">Reactivating</button>
                <button (click)="subscriptionscancle(index)" class="btn btn-danger"  >Cancle </button>
             </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse2">week plan</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <table class="table">
          <thead>
            <tr>
              <th>Customer</th>
              <th>Status</th>
              <th>Billing</th>
              <th>Interval</th>
              <th>Created</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody *ngFor="let payment of payments;  let index = index">
            <tr *ngIf="payment.plan.interval == 'week'">
              <td>{{ payment.customer }}</td>
              <td> {{ payment.status }} </td>
              <td> {{ payment.billing }} </td>
              <td> {{ payment.plan.interval }} </td>
              <td> {{ payment.created }} </td>
              <td> <button (click)="subscriptionsupdate(index)"   class="btn btn-success">Reactivating</button>
                <button (click)="subscriptionscancle(index)" class="btn btn-danger"  >Cancle </button>
             </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse3">month plan</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <table class="table">
          <thead>
            <tr>
              <th>Customer</th>
              <th>Status</th>
              <th>Billing</th>
              <th>Interval</th>
              <th>Created</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody *ngFor="let payment of payments;  let index = index">
            <tr *ngIf="payment.plan.interval == 'month'">
                <td>{{ payment.customer }}</td>
              <td> {{ payment.status }} </td>
              <td> {{ payment.billing }} </td>
              <td> {{ payment.plan.interval }} </td>
              <td> {{ payment.created }} </td>
              <td> <button (click)="subscriptionsupdate(index)" class="btn btn-success">Reactivating</button>
                <button (click)="subscriptionscancle(index)" class="btn btn-danger"  >Cancle </button>
             </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse4">year plan</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <table class="table">
          <thead>
            <tr>
              <th>Customer</th>
              <th>Status</th>
              <th>Billing</th>
              <th>Interval</th>
              <th>Created</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody *ngFor="let payment of payments; let index = index">
            <tr *ngIf="payment.plan.interval == 'year'">
              <td>{{ payment.customer }}</td>
              <td> {{ payment.status }} </td>
              <td> {{ payment.billing }} </td>
              <td> {{ payment.plan.interval }} </td>
              <td> {{ payment.created }} </td>
              <td> <button (click)="subscriptionsupdate(index)" class="btn btn-success">Reactivating</button>
                <button (click)="subscriptionscancle(index)" class="btn btn-danger"  >Cancle </button>
             </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>