<!DOCTYPE html>

<!-- 
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head> -->

<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <h2 align="center" class="page-header">SignUp...!!!</h2>
        <form [formGroup]="form" (ngSubmit)="onAddUser()">

          <label for="first_name">First Name</label>
          <div class="form-group">
            <input type="text" placeholder="First Name" formControlName="first_name" class="form-control">
           </div>

          <label for="last_name">Last Name</label>
          <div class="form-group">
            <input type="text" placeholder="Last Name" formControlName="last_name" class="form-control">
           </div>

          <label for="email">Email</label>
          <div class="form-group">
            <input type="email" placeholder="you@email.com" formControlName="email" class="form-control">
          </div>

          <label for="password">Password</label>
          <div class="form-group">
            <input type="password" placeholder="password" formControlName="password" class="form-control">
          </div>

          <label for="birth">Birth Date</label>
          <div class="form-group">
            <input type="date" max="1999-12-31" formControlName="birth" class="form-control">
          </div>

         <label for="mobile">Mobile</label>
          <div class="form-group">
            <input type="text"  placeholder="Mobile No" formControlName="mobile" class="form-control">
          </div>
            <div class="form-group">
            <input class="btn btn-primary btn-lg btn-block" [disabled]="!form.valid"  type="submit" value="SignUP" >
          </div>

        </form>
        <!-- <a routerLink="/">Already Registered ?</a> -->
      </div>
    </div>
  </div>
</body>

