
<div class="loader" *ngIf="!paybutton"></div>


<!-- <div class="container">
    <h2 class="page-header">Do Payment</h2>
    <form (submit)="doPayment()">
      <div class="row ">
        <div class="form-group col-md-6">
          <label for="">Card Number</label>
          <input type="text" [(ngModel)]="card_number" name="card_number" class="form-control">
        </div>
      </div>
  
      <div class="row ">
        <div class="form-group col-md-3">
          <label for="">Exp Year</label>
          <input type="text" [(ngModel)]="exp_year" name="exp_year" class="form-control">
        </div>
  
        <div class="form-group col-md-3">
          <label for="">Exp Month </label>
          <input type="text" [(ngModel)]="exp_month" name="exp_month" class="form-control" required>
        </div>
      </div>
      <div class="row ">
        <div class="form-group col-md-3">
          <label for="">CVC </label>
          <input type="text" [(ngModel)]="cvc" name="cvc" class="form-control" required>
        </div>
        <div class="form-group col-md-3">
          <label for="">amount </label>
          <input type="text" [(ngModel)]="amount" name="amount" class="form-control" required>
        </div>
      </div>
      <div class="row">
  
        <div class="form-group col-md-3">
          <label for="">email </label>
          <input type="email" [(ngModel)]="email" name="email" class="form-control" required>
        </div>
  
        <div class="form-group col-md-3">
          <label for="">description </label>
          <input type="text" [(ngModel)]="description" name="description" class="form-control" required>
        </div>
  
      </div>
      <div class="row col-md-6">
        <div class="form-group col-md-3 pull-right">
          <br>
          <input type="submit" class="btn btn-success" value="Payment">
        </div>
      </div>
  
  
  
    </form>
  </div> -->