
 <!-- <div *ngIf="!check">
<div  style="margin: auto; max-width: 1000px; margin-bottom: 50px;">
    <data-table headerTitle="Employees (Double click)" [items]="items" [itemCount]="itemCount" (reload)="reloadItems($event)"
        (rowClick)="rowClick($event)" (rowDoubleClick)="rowDoubleClick($event)" [rowTooltip]="rowTooltip">
        <data-table-column [property]="'email'" [header]="'Email'"></data-table-column>
        <data-table-column [property]="'description'" [header]="'Description'"></data-table-column>
        <data-table-column [property]="'amount'" [header]="'amount'"></data-table-column>

        
        <data-table-column header="Actions">
            <ng-template #dataTableHeader let-item="item">
                <i>Actions</i>
            </ng-template>
            <ng-template #dataTableCell let-item="item">
                <button (click)="refund(item)" class="btn btn-primary" value="Refund">Refund</button>
               
                <button (click)="cancle()" class="btn btn-danger">cancle</button>
            </ng-template>
            
        </data-table-column>
    </data-table>
</div>
</div>

<div *ngIf="check" class="loader"></div>  -->

 <div>
     
      <input type="text" [(ngModel)]="email"  id="search"  > 
      <input type="submit" (click)="search()" name="search" value="search" class="btn btn-success   ">
</div>
 <div *ngIf="!check">
 <div style="margin: auto; max-width: 1000px; margin-bottom: 50px; ">
        
        <data-table 
        headerTitle="Employees (payments)"
        [items]="items"
        [itemCount]="itemCount"
        (reload)="reloadItems($event)"

        (rowClick)="rowClick($event)"
        (rowDoubleClick)="rowDoubleClick($event)"
        [rowTooltip]="rowTooltip"
        >
        <data-table-column
             [property]="'email'"
            [header]="'Email'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>
        <data-table-column
            [property]="'description'"
            [header]="'Description'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>
        <data-table-column
            property="amount"
            header="Amount"

            width="150px">
        </data-table-column>
        <data-table-column header="Actions">
            <ng-template #dataTableHeader let-item="item">
                <i>Actions</i>
            </ng-template>
            <ng-template #dataTableCell let-item="item">
                <button (click)="refund(item)" class="btn btn-primary" value="Refund">Refund</button>
               
                <button (click)="cancle()" class="btn btn-danger">cancle</button>
            </ng-template>
            
        </data-table-column>
    </data-table>
    
</div>
</div>  

<div *ngIf="check" class="loader"></div> 

 
